.card {
    width: 20em;
    /* height: 40em; */
    padding: 1em;
    display: grid;
    grid-template: 'img img' 'label label' 'desc desc' 'price btn' 'cartbtn buybtn';
    margin: 20px;
    font: 10px roboto;
    place-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px #888888;
}

.card__imgcontainer {
    grid-column: img;
    width: 100%;
    height: 20em;
    border-bottom: 1px solid white;
}

.card__img {
    width: 100%;
    height: 100%;
}

.card__label {
    grid-column: label;
    font-size: 1.6em;
}

.card__desc {
    grid-column: desc;
    margin: 0;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.604);
}

.btn {
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.btn--cart {
    grid-column: buybtn;
    font-size: 1.2em;
    padding: 0.4em;
}

.btn--buy {
    grid-column: cartbtn;
    font-size: 1.2em;
    padding: 0.5em;
}

.btn__container--grid {}