.search {
    display: grid;
    grid-template-columns: 1fr 5em;
    align-items: center;
    padding: 0;
    margin: 0;
    font-size: 10px;
}

.input--search {
    background-color: lightgray;
    border-radius: 5px;
    padding: 0;
    margin: 0;
    height: 100%;
    outline: none;
    border: none;
    border-radius: 5px 0px 0px 5px;
    border-right: 1px solid black;
    padding-left: 10px;
}

.input--search:focus {
    border: none;
    box-shadow: none;
}

.btn--search {
    outline: none;
    border: none;
    background-color: red;
    padding: 0.5em;
    height: 100%;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    /* border: 1px solid white; */
    border-radius: 0px 5px 5px 0px;
}

.btn__search--icon {
    color: black;
    border-radius: 5px;
    background-color: transparent;
}